<%- include('./shared/navbar.ejs') %>

<div class="container text-center my-5">
    <h4>Sarahah allows you to receive constructive feedback from your friends and co-workers</h4>
    <div class="buttons d-flex justify-content-center align-items-center  flex-column">
        <a href="/login" class="btn btn-default-outline my-4"><i class="fas fa-user"></i> Login</a>
        <a href="/register" class="btn btn-default-outline"><i class="far fa-edit"></i> Register</a>
    </div>
</div>
<%- include('./shared/footer.ejs') %>